<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chuck Norris API</title>
</head>
<body style="height: 100vh; display: flex; justify-content: center; align-items: center; flex-direction: column; background-color: #fb5607">
<h1 style="font-size: 25px">API DATA</h1> <br>
<img src="/static/chucknorris_logo_coloured_small.png"><br>
<p style="font-size: 20px; color: white; text-align: center;">{{ response }}</p>
</body>
</html>